*{
    border: 0.5px solid green;
}

.project_card{
    padding: 1em;
    border: 1px solid #7a7a7a;
    border-radius: 5px;
    width: 24%;
    margin: 0.5%;
}

.project_card h4{
    background-color: #222;
    color: #FFBB33;
    padding: .4em;
    margin-bottom: 1.3em;
    font-size: 1.3em;
}

.project_card p{
    color: #7a7a7a;
    margin-bottom: 1em;
}

.project_card p span {
    font-weight: bold;
}

.category_text{
    display: flex;
    align-items: center;
}
.category_text span{
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #CCC;
    margin-right: 5px;
}

.category_text .infra{
    background-color: rgb(255, 104, 104);
}

.category_text .ti{
    background-color: rgb(128, 255, 128);
}

.category_text .dev{
    background-color: rgb(101, 101, 255);
}
